@media(max-width: 1440px){
    // INICIO
main{
    h3{
        font-size: 3.125rem;
        margin-bottom: 20%;
    }
}


    // BENEFICIOS
    .footer-beneficios{
        div{
            margin-left: 36%;
        }
        input{
            padding: .3125rem 2.5rem;
        }
    }

    // inicio
    .main-inicio{
        height: 95vh;
        section{
            margin-left: 25%;
            margin-top: 9.375rem;
        }
    }
}