@media(max-width: 768px){
    // INDEX
    header{
        img{
            width: 20%;
        }
        .barra{
            margin-left: 80%;
        }
    }

    main{
        .card{
            height: 60vh;
        }
        h3{
            font-size: 1.875rem;
            margin-bottom: 35%;
        }
        input{
            padding: .625rem 3.75rem;
        }
    }

    footer{
        height: 35vh;
        div{
            margin-left: 2%;
        }
    }

    // BENEFICIOS
    main{
        .cards{
            width: 30%;
        }
    }

    .footer-beneficios{
        div{
            margin-left: 25%; 
        }
        input{
            padding: .3125rem 2.5rem;
        }
    }

    // CONTACTOS

    .main-contactos{
        div{
            margin-left: 5%;
        }
        h5{
            font-size: 1.25rem;
        }
        p{
            font-size: 1.25rem;
        }
        iframe{
            width: 300px;
            height: 300px;
        }
    }
    .footer-contactos{
        height: 0vh;
    }

    // INICIAR
    .main-inicio{
        section{
            margin-left: 4%;
            padding: 15.625rem 2.5rem;
        }
    }
}