@media(max-width: 425px){
    // INDEX
    header{
        .logo{
            width: 30%;
        }
    }
    main{
        h3{
            font-size: 30px;
            margin-bottom: 60%;
        }
        .card{
            height: 60vh;
        }
        form{
            padding: .3125rem;
        }
        input{
            padding: .625rem 5px;
        }
        button{
            padding: .625rem 1.25rem;
        }
        .lupa{
            width: 60%;
        }
    }
    footer{
        height: 40vh;
        margin-right: 1%;
    }

    // BENEFICIOS

    main{
        .cards-img{
            height: 20%;
            margin-top: 1.875rem;
        }
        .cards{
            width:20%;
            padding: .625rem;
            p{
                font-size: .75rem;
            }
        }
        h5{
            font-size: 15px;
        }
        h4{
            font-size: .625rem;
            &:hover{
                font-size: .875rem;
                margin-top: 1.5625rem;
            }
        }
    }
    .footer-beneficios{
        height: 30vh;
        div{
            margin-left: 5%;
        }
        form{
            padding: .3125rem;
        }
        input{
            padding: .625rem 5px;
        }
        button{
            padding: .625rem 1.25rem;
        }
        .lupa{
            width: 60%;
        }
    }

    // CONTACTOS
    
    .main-contactos{
        display: flex;
            flex-direction: column;
        a{
            font-size: 14px;
        }
        div{
            margin-left: 2%;
        }
        h5{
            font-size: .875rem;
        }
        p{
            font-size: .875rem;
        }
        iframe{
            margin-left: 5%;
            width: 300px;
            height: 18.75rem;
        }   
    }

    //  INICIAR
     // INDEX
     main{
        h3{
            font-size: 1.875rem;
        }
        .card{
            height: 50vh;
        }
        form{
            padding: .3125rem;
        }
        input{
            padding: .3125rem 5px;
        }
        button{
            padding: .3125rem .625rem;
        }
        .lupa{
            width: 50%;
        }
    }
    footer{
        height: 50vh;
    }

    // BENEFICIOS
    
    main{
        .cards-img{
            height: 10%;
            margin-top: 1.875rem;
        }
        .cards{
            width:30%;
            padding: .625rem;
            p{
                font-size: .75rem;
            }
        }
        h5{
            font-size: 15px;
        }
        h4{
            font-size: .625rem;
            &:hover{
                font-size: .875rem;
                margin-top: 1.5625rem;
            }
        }

        .grid{
            font-size: 12px;
        }
    }
    .footer-beneficios{
        h3{
            font-size: 18px;
        }
    }

    // INICIAR

    .main-inicio{

        h2{
            font-size: 1rem;
        }
        .img-cafe{
            width: 120px;
        }
        section{
            padding: 250px 1px;
            margin-right: 5%;
            margin-left: 2%;
        }
        form{
            margin-right: 30px;
        }
        input{
            margin-right: 5px;
        }
        h3{
            font-size: 1rem;
        }
    }
}